/* Special style for block cart*/
#ecommerce-cart_block .block_content { padding: 6px 6px 2px }
#ecommerce-cart_block h4 { background-image: url('/mdEcommercePlugin/images/mdCart/block_header_exclusive_cart.png'); background-repeat: no-repeat;}
#ecommerce-cart_block h4 span {
  text-transform: none;
  font-size: 0.8em;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 10px
}
#ecommerce-cart_block h4 span#ecommerce-block_cart_collapse { background-image: url('/mdEcommercePlugin/images/mdCart/sort_asc_white.png') }
#ecommerce-cart_block h4 span#ecommerce-block_cart_expand { background-image: url('/mdEcommercePlugin/images/mdCart/sort_desc_white.png') }
#ecommerce-cart_block #ecommerce-cart_block_no_products { margin: 0.5em 0 }
#ecommerce-cart_block dl dt a,
#ecommerce-cart_block dl dt span.ecommerce-quantity-formated { float: left }
#ecommerce-cart_block dl { font-size: 0.9em }
#ecommerce-cart_block dt { padding-top: 0.4em }
#ecommerce-cart_block dl span.quantity-formated { padding-right: 1px }
#ecommerce-cart_block dt, #ecommerce-cart_block dd {
  clear: both;
  margin-top: 0.2em
}
#ecommerce-cart_block dt { 
  width: 175px;
  text-align: right
}
#ecommerce-cart_block dd { width: 155px }
#ecommerce-cart_block dd { 
  margin-left: 1em; 
  margin-right: 1em; 
  font-style: italic 
}
#ecommerce-cart_block dl dt a { font-weight: bold }
#ecommerce-cart_block a.ajax_cart_block_remove_link {
  width: 11px;
  height: 13px;
  margin-left: 6px;
  float: right;
  font-size: 0;
  display: block;
  background: transparent url('/mdEcommercePlugin/images/mdCart/delete.gif') no-repeat left bottom
}
#ecommerce-cart_block a.ecommerce-ajax_cart_block_remove_link:hover { text-decoration: none }
#ecommerce-cart_block p { clear: both }
#ecommerce-cart_block p span {
  clear: right;
  float: left;
  text-align: right
}
#ecommerce-cart_block li { clear: both }
#ecommerce-cart_block span.price {
  color: white;
  float: right
}
#ecommerce-cart_block dl span.ecommerce-price {
  font-weight: normal;
  color: white;
  float: none
}

#ecommerce-cart_block_wrapping_cost, #ecommerce-cart_block_shipping_cost, #ecommerce-cart_block_tax_cost, #ecommerce-cart_block_total { padding-right: 1.3em }

#ecommerce-cart_block table#ecommerce-vouchers {
  margin-top: 0.5em;
  border-top: 1px solid white;
  height: 3em;
  padding-top: 0.4em;
  margin-bottom: 0.5em;
  clear: both
}
#ecommerce-cart_block p#ecommerce-cart-prices {
  clear: both;
  margin-top: 8px;
  margin-bottom: 2em;
  display: block;
  padding-top: 0.4em;
  border-top: 1px solid white
}
#ecommerce-cart_block table#ecommerce-vouchers td {
  padding: 0;
  border: 0;
  height: 1.5em
}
#ecommerce-cart_block table#ecommerce-vouchers td.price {
  color: white;
  font-size: 1em;
  font-weight: normal;
  width: 37%;
  text-align: right
}
#ecommerce-cart_block table#ecommerce-vouchers td.delete {
  width: 9%;
  text-align: right
}
#ecommerce-cart_block table#ecommerce-vouchers td.delete img { margin: 0 }
#ecommerce-cart_block p#ecommerce-cart-buttons {
  height: 1.6em;
  margin: 0 -0.3em
}
#ecommerce-cart_block p#ecommerce-cart-buttons a { float: left }
#ecommerce-cart_block p#ecommerce-cart-buttons a#button_order_cart { float: right }
#ecommerce-cart_block .ecommerce-cart_block_customizations {
  margin-left: 6px;
  list-style-type: square
}
#ecommerce-cart_block #ecommerce-cart-price-precisions {
  margin-top: 0.5em;
  padding-top: 0.4em;
  border-top: 1px solid white;
  font-size: 0.9em;
  height: 2em
}

div.ecommerce-block h4 {

  border-bottom: 1px solid #595A5E;
  color: #374853;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 1.2em;
  font-weight: bold;
  height: 19px;
  line-height: 1.3em;
  padding-left: 0.5em;
  padding-top: 2px;
  text-transform: uppercase;
}

.ecommerce-hidden, .ecommerce-collapsed, .ecommerce-block_hidden_only_for_screen {
  display: none;
}

div.ecommerce-exclusive, div.ecommerce-exclusive a {
  color: white;
}

div.ecommerce-block a {
  color: #595A5E;
  text-decoration: none;
}

input.ecommerce-exclusive, input.ecommerce-exclusive_disabled, a.ecommerce-exclusive, span.ecommerce-exclusive {
  background-image: url("/mdEcommercePlugin/images/mdCart/button-medium_exclusive.png");
}

input.ecommerce-button, input.ecommerce-button_disabled, input.ecommerce-exclusive, input.ecommerce-exclusive_disabled, a.ecommerce-button, a.ecommerce-exclusive, span.ecommerce-button, span.ecommerce-exclusive {
  background-color: #00a61b;
  width: 120px;
}